<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito de compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartService.getCartItems(); index as i">
      <ion-thumbnail slot="start" style="width: 8.5rem; height: 8.5rem;">
        <ion-img [src]="item.photo+i.toString()" [alt]="item.name"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }} </h2> <br>
        <h1> {{ item.price | currency }}</h1><br>
        <ion-chip style="width: 2.7rem; justify-content: center; align-items: center;" (click)="addToCartA(item)">
          <ion-icon name="add-circle-outline" style="margin: 0 auto;"></ion-icon>
        </ion-chip>

        <ion-chip [outline]="true"> {{ item.quantity }}</ion-chip>

        <ion-chip style="width: 2.7rem; justify-content: center; align-items: center;" (click)="removeToCart(item)">
          <ion-icon name="remove-circle-outline" style="margin: 0 auto;"></ion-icon>
        </ion-chip>
<br><br>
        <ion-chip style="justify-content: center; align-items: center; background-color: brown; margin-left: 2rem;" (click)="deleteToCart(item)">
          <ion-icon name="trash-outline" style="margin: 0 auto;"></ion-icon>
          <h3> Eliminar</h3>
        </ion-chip>  
      </ion-label>
      
    </ion-item> 
  </ion-list>
  <ion-item>
    <ion-label>
      Precio Total: {{ cartService.getTotalPrice() | currency }}
    </ion-label>
  </ion-item>
  <br><br><br>
  <ion-label style="display: flex; justify-content: center; ">
    <ion-button style="width: 20rem;" color="warning" (click)="addToHistory3()">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon> Realizar compra
    </ion-button>
  </ion-label>
  
</ion-content>

