<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-select label="Tipo" [multiple]="true" interface ="popover" label-placemenet="floating"
        [(ngModel)]="filter" (ionChange)="filterProducts()"
        >
          <ion-select-option value="Abarrotes">
            Abarrotes
          </ion-select-option>
          <ion-select-option value="Limpieza">
            Limpieza
          </ion-select-option>
          <ion-select-option value="Vinos y Licores">
            Vinos y Licores
          </ion-select-option>
          <ion-select-option value="Farmacia">
            Farmacia
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size = "6" *ngFor="let product of productsFounds; index as i">
        <ion-card>
          <img [src]="product.photo+i.toString()"/>
          <ion-card-header>
            <ion-card-title>
              {{product.name}}
              <ion-badge *ngIf="product.type === 'Farmacia'" color="tertiary">{{ product.type }}</ion-badge>    
              <ion-badge *ngIf="product.type === 'Vinos y Licores'" color="success">{{ product.type }}</ion-badge>  
              <ion-badge *ngIf="product.type === 'Abarrotes'" color="danger">{{product.type}}</ion-badge> 
              <ion-badge *ngIf="product.type === 'Limpieza'" color="medium">{{product.type}}</ion-badge>
            </ion-card-title>
            <ion-card-subtitle>{{ product.price | currency}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{product.description}}
          </ion-card-content>
          <ion-button style="margin-left: 1rem;" (click)="addToCart(product)">
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
          </ion-button> 
        </ion-card>
      </ion-col>
    </ion-row>
    
    <!-- Mostrar el carrito -->
    <h2>Carrito de compras</h2>
    <ul>
      <li *ngFor="let item of cart">
        {{ item.name }} - {{ item.price | currency}} - {{item.quantity}}
      </li>
    </ul>
    <h2>Precio Total: {{ getTotalPrice() | currency}}</h2>
   </ion-grid>
   </ion-content>
